.body_color{
    color: #b15de2;
    
}
h1{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: #b15de2;
   
}

.enhance{
    font-family: Arial, Helvetica, sans-serif;
    color: #0989d3;
    
}
